body {
    margin: 0;
}
header {
    padding: 0px 50px;
    background-color: lightgray;
    margin: 0px 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 150px;
}
section div img {
    width: 100%;
}
.cartback {
    margin: 0px 50px;
}
main {
    margin: 0 150px;
    text-align: justify;
}
h6 {
    font-weight: normal;
    text-transform: uppercase;
}
.fige {
    display: flex;
    margin: 0 110px;
}
figure img {
    width: 100%;
}
.backform {
    background-color: lightgray;
    padding: 50px 0px;
    margin: 100px 0px;
}
form {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}
input {
    border: 0;
    border-bottom: 2px solid black;
    width: 100%;
    background-color: lightgray;
}
.btn {
    width: max-content;
    margin: 0 auto;
}
button {
    padding: 10px 25px;
}
footer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: lightgray;
    margin: 0px 50px;
    margin-top: 30px;   
}
ol {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.adress {
    margin-left: auto;
}