body {
    margin: 0;
}
header {
    padding: 0px 50px;
    background-color: lightgray;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 150px;
}