body {
    margin: 0;
}
header {
    padding: 0px 50px;
    background-color: lightgray;
    margin: 0px 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 150px;
}
section div img {
    width: 100%;
}
.cartback {
    margin: 0px 50px;
}
main {
    margin: 0 150px;
    text-align: justify;
}
h6 {
    font-weight: normal;
    text-transform: uppercase;
}
.fige {
    display: flex;
    margin: 0 110px;
}
figure img {
    width: 100%;
}
form {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}
input {
    border: 0;
    border-bottom: 2px solid black;
    width: 100%;
}